@import "tailwindcss";

@keyframes float-scale {
  0%, 100% { transform: translateY(0) scale(1); }
  50% { transform: translateY(-15px) scale(1.05); }
}

.animate-float-scale {
  animation: float-scale 3s ease-in-out infinite;
}
